@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
    
    background: #11101d;
    color: white;
    
    position: fixed;
    z-index: 2;
    
    width: 100%;
    height: 80px;
    
}

.head__logo{
    display: flex;
}

.head__logo img{
    height: 80px;
}

.head__navegacao{
    display: flex;
}

.head__navegacao .head__navegaca__lista{
    display: flex;
    padding: 10px 15px;
}

.head__navegacao .head__navegaca__lista li::before{
    content: '/ ';
}
.head__navegacao .head__navegaca__lista li::after{
    content: ' /';
}

.head__usuario{
    display: flex;
    align-items: center;
}

.head__usuario img{
    width: 80px;
    height: 80px;
}



.principal{
    display: block;
    position: absolute;
    left: 78px;
    top: 80px;
    z-index: 0;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    font-family: 'Lato', sans-serif;
}

.principal.active{
    left: 240px;
    width: calc(100% - 240px);
    transition: all 0.5s ease;
}

.principal__filtros{
    display: flex;
    min-height: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid #11101d;
    background: white;
    position: fixed;
    z-index: 2;
}

.principal__filtros-caixa{
    width: 192px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
}

.principal__filtros-caixa.pesquisa{
    width: 300px;
}

.principal__filtros select{
    width: 120px;
}

.principal__filtros input{
    width: 100%;
}

.pagina__loader{
display: flex;
width: 100%;
height: calc(100vh - 80px);
align-items: center;
justify-content: center;
vertical-align: middle;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.principal__conteudo{
    width: 100%;
    display: none;
    z-index: 0;
}

.principal__conteudo #clientes{
    width: 95%;
    margin: 10px auto;
}

.principal__conteudo #clientes thead tr{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.principal__conteudo #clientes thead tr th{
    padding: 8px 0;
    background-color: #11101d;
    color: #fff
}

.principal__conteudo #clientes tbody tr{
    text-align: center;
}

.principal__conteudo #clientes tbody tr .principal__conteudo__clientes-cliente, .principal__conteudo #clientes tbody tr .principal__conteudo__clientes-rca{
    text-align: left;
    padding-left: 10px;
}

.principal__conteudo #clientes tbody tr .principal__conteudo__clientes-media{
    text-align: right;
    padding-right: 10px;
}

.principal__conteudo #clientes tr td, .principal__conteudo #clientes tr th{
    padding: 2px 0;
    border: 1px solid #11101d;
}

.principal__conteudo #clientes tbody tr:hover{
    background-color: #11101d;
    color: #fff;
    transition: all 0.2s ease;
}

.btn__status, .btn__politica{
    color: white;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content:center;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

#modalPoliticas{
    top: 80px;
    z-index: 12;
    height: calc(100% - 100px);
}

.modal-backdrop.fade.show{
    z-index: -1;
}

/* Estilos do modal */
.modal-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.2fr;
    align-items: start;
    grid-gap: 8px;
}

.modal-header.botoes{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    justify-content: flex-end;
    grid-gap: 8px;
}

#modalObs{
    grid-column: span 2;
}

#close { 
    width: 30px;
    height: 30px;
    border: none;
    background-color: none;
    text-transform: uppercase;
    color: #a0a0a0;
}
#close:hover{
    color: black;
}
.politica__desconto input{
    width: 100px;
    text-align: right;
}

.politica__tabela input{
    width: 100px;
    text-align: right;
}

.politica__obs input{
    width: auto;
    text-align: left;
}

.table{
    font-size: 14px;
}

#tbPoliticas thead tr th{
    text-transform: uppercase;
    text-align: center;
}
#tbPoliticas tbody tr:hover{
    background-color: #11101d;
    color: #f3f3f3;
}